.menu {
    background:#ccf2ff;
    height: 80px;
}

.menuItems {
    align-items: center;
    align-content: center;
    margin-left: 100px;
    font-size: 20px;
}

.text {
    margin-right: 10px;
    margin-top: auto;
}

.logoutButton {
    margin-right: 50px;
}

.logoMenu {
    margin-left: 100px;
}

.logoMenu img{
    height: 60px;
    width: 60px;
    align-self: center;
    margin-top: auto;
}
