.menu {
    background:#ccf2ff;
}

.menuItems {
    align-items: center;
    align-content: center;
    margin-left: 100px;
    font-size: 20px;
}

.text {
    margin-right: 10px;
}

.logoutButton {
    margin-right: 50px;
}

.logo {
    margin-left: 80px;
}

