*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #858796;
    background-color: #fff;
}

body, input, button, textarea {
    font-weight: 600;
    font-size: 18px;
    font-family: Nunito, sans-serif;
}