.cardAdmin {
    width: 40rem;
    margin-top: auto;
    margin-left: 47rem;
    margin-top: -125px;
    height: 300px;
}

.cardTextsFirst {
    margin-top: -5px;
}

.cardTexts {
    margin-top: -10px;
}

.cardHorasBaixo {
    margin-top: -17px;
}

hr {
    margin-top: 5px;
}

.cardHead {
    background: #d1d1e0;
    height: 50px;
}

.editIconUp {
    margin-left: 35rem;
    margin-top: -50px;
}

