#component-popup-eventos-administrador{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0,0,0, 0.5);

    z-index: 10;
}

#popup-eventos-inner-administrador {
    position: absolute;
    left: 25%;
    right: 25%;
    top: 25%;
    bottom: 25%;
    margin: auto;
    background: white;
}

#popup-eventos-inner-administrador .header-popup-eventos-inner-administrador{
    width: 100%;
    height: 100%;
    max-height: 5rem;

    display: flex;
    align-items: center;
    justify-content: center;
    
    color:#3f4f57;
}

#popup-eventos-inner-administrador .content-popup-eventos-inner-administrador {
    width: 100%;
    height: 100%;
    max-height: 15.3rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

#popup-eventos-inner-administrador .item-content-eventos-popup-inner-administrador {
    width: 100%;
    max-width: 45rem;
    height: 100%;
    max-height: 4rem;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    position: relative;
}

#popup-eventos-inner-administrador .item-content-eventos-popup-inner-administrador span {
    font-size: 30px;
    font-weight: 400;
    
    position: absolute;
    left: 8rem;
}

#popup-eventos-inner-administrador .input-content-eventos-popup-inner-administrador {
    height: 100%;
    max-height: 2rem;
    width: 100%;
    max-width: 15rem;

    position: absolute;
    right: 14rem;
    bottom: 0.9rem;

    border-radius: 5px;
    border: 1px solid #717571;

    font-size: 20px;

    color: #282d36;
}

#popup-eventos-inner-administrador .input-content-eventos-popup-inner-administrador::placeholder {
    font-size: 20px;

    color: #a3a7a3;
}


#popup-eventos-inner-administrador .footer-btn-popup-eventos-inner-administrador {
    width: 100%;
    height: 100%;

    height: 5.58rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

#popup-eventos-inner-administrador .save-btn-popup-eventos-inner-administrador {
    width: 100%;
    max-width: 6rem;
    height: 100%;
    max-height: 2.5rem;

    border: 1px solid #63b953;
    border-radius: 4px;
    
    background-color: #63b953;

    transition: background-color 0.2s;
}

#popup-eventos-inner-administrador .save-btn-popup-eventos-inner-administrador:hover {
    background: #98ec88;
}

#popup-eventos-inner-administrador .close-btn-popup-eventos-inner-administrador {
    width: 100%;
    max-width: 6rem;
    height: 100%;
    max-height: 2.5rem;

    margin-left: 2rem;
    margin-right: 1rem;

    border: 1px solid #e92e4f;
    border-radius: 4px;

    background: #e92e4f;

    transition: background-color 0.2s;
}

#popup-eventos-inner-administrador .close-btn-popup-eventos-inner-administrador:hover {
    background: #f95673;
}