#page-servicos-administrador {
    width: 100vw;
    height: 100vh;

    display: flex;
    position: relative;

    z-index: 5;
}

#page-servicos-administrador .adicionar-servicos-administrador {
    height: 100%;
    max-height: 4rem;
    width: 100%;
    max-width: 71rem;

    display: flex;
    flex-direction: row;
    align-items: center;

    position: absolute;
    top: 12rem;
    left: 17rem;
}

#page-servicos-administrador .btn-adicionar-servicos-administrador {
    width: 100%;
    max-width: 11.5rem;
    height: 100%;
    max-height: 2.5rem;
    
    position: absolute;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 5px;
    border: 1px solid #0aa4e4;

    color: #FFF;
    background: #0aa4e4;

    font-size: 18px;

    transition: background-color 0.2s;
}

#page-servicos-administrador .btn-adicionar-servicos-administrador:hover {
    background: #4ac1f2;
}

#page-servicos-administrador .btn-adicionar-servicos-administrador span {
    margin-right: 0.3rem;
}

#page-servicos-administrador .content-servicos-administrador {
    width: 100%;
    max-width: 71rem;
    max-height: 30rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: scroll;

    position: absolute;

    top: 20rem;
    right: 2rem;
}

#page-servicos-administrador .content-servicos-administrador table {
    width: 100%;
    max-width: 50rem;
    max-height: 30rem;

    border: 2px solid #525759;
    border-collapse: collapse;

    overflow: scroll;

    color: #282d36;
    background: #f0f6f9;
}

#page-servicos-administrador .content-servicos-administrador td {
    text-align: center;
}

#page-servicos-administrador .content-servicos-administrador thead{
    width: 100%;
    max-width: 50rem;
    
    font-size: 25px;

    background: #f0f6f9;
}

#page-servicos-administrador .content-servicos-administrador tbody {
    width: 100%;
    max-width: 50rem;

    font-size: 20px;
    border-top: 3px solid #525759;
}

#page-servicos-administrador .content-servicos-administrador thead tr {
    height: 3rem;
}

#page-servicos-administrador .content-servicos-administrador tbody tr {
    height: 3rem;
    border-bottom: 1px solid  #525759;
}

#page-servicos-administrador .edit-btn-content-servicos-administrador {
    width: 100%;
    max-width: 5rem;
    min-height: 2rem;

    border: 1px solid #0aa4e4;
    border-radius: 4px;

    color: #FFF;
    background: #0aa4e4;
    
    text-align: center;

    margin: 0.5rem 0.5rem;
}

#page-servicos-administrador .edit-btn-content-servicos-administrador:hover {
    background: #4ac1f2;
}

#page-servicos-administrador .delete-btn-content-servicos-administrador {
    width: 100%;
    max-width: 6rem;
    min-height: 2rem;

    border: 1px solid #d45b5b;
    border-radius: 4px;

    color: #FFF;
    background: #d45b5b;
    
    text-align: center;

    margin: 0.5rem 0.5rem;
}

#page-servicos-administrador .delete-btn-content-servicos-administrador:hover {
    background: #ed6060;
}
